
<div class="flex flex-row space-x-4">
  <div class="w-full flex flex-col space-y-2">
    <div class="flex flex-row space-x-2 justify-between items-center">
      <div class="font-bold">{{Detail.Title}}</div>
      <button mat-icon-button (click)="isUpdate=false;Data={}">
        <span class="material-symbols-outlined text-blue-500">
          add_circle
          </span>
      </button>
    </div>
      <div class="flex flex-row space-x-2 justify-between p-2 hover:bg-slate-100 rounded-lg" *ngFor="let item of Detail.Data;let i =index" (click)="Data=item;isUpdate=true;SelectData=i">
        <div class="font-semibold">{{item.Title}}</div>
        <div class="text-blue-500 text-right">{{item.FromAmount|number:'1.0-2'}} - {{item.ToAmount|number:'1.0-2'}}</div>
      </div>
  </div>
  <div class="w-full flex flex-col space-y-3 mx-auto">
    <mat-form-field appearance="outline">
      <mat-label>Tiêu Đề</mat-label>
      <input [(ngModel)]="Data.Title" [ngModelOptions]="{standalone: true}"
       type="text" matInput [placeholder]="'Tìm kiếm bài viết'"/>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Hình Ảnh</mat-label>
      <input [(ngModel)]="Data.Image" [ngModelOptions]="{standalone: true}" type="text" matInput [placeholder]="'Tìm kiếm bài viết'"/>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Từ</mat-label>
      <input [(ngModel)]="Data.FromAmount" [ngModelOptions]="{standalone: true}" type="text" matInput [placeholder]="'Tìm kiếm bài viết'"/>
      <mat-hint>{{Data.FromAmount|number:'1.0-2'}} </mat-hint>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Đến</mat-label>
      <input [(ngModel)]="Data.ToAmount" [ngModelOptions]="{standalone: true}" type="text" matInput [placeholder]="'Tìm kiếm bài viết'"/>
      <mat-hint>{{Data.ToAmount|number:'1.0-2'}} </mat-hint>
    </mat-form-field>
    <div>
      <ng-container *ngIf="isUpdate; else elseTemplate">
        <button mat-button class="bg-blue-500 text-white" (click)="UpdateDetail(Data)">Cập Nhật</button>
      </ng-container>
      <ng-template #elseTemplate>
        <button mat-button class="bg-blue-500 text-white" (click)="AddDetail(Data)">Thêm Mới</button>
      </ng-template>
    </div>
  </div>
</div>
