<div class="w-screen h-screen flex flex-col space-y-2 bg-gray-100 p-2">
  <div class="text-2xl text-center">Cấu hình</div>
  <div class="w-full m-auto flex flex-row space-x-4 rounded-lg bg-white p-4">
    <div class="flex flex-col space-y-3 p-4 border-r">
      <div class="flex flex-row space-x-2 items-center justify-between">
          <mat-form-field appearance="outline" class="w-full">
            <mat-label>Tiêu Đề</mat-label>
            <input type="text" matInput [placeholder]="'Tìm kiếm bài viết'" (input)="applyFilter($event)" />
          </mat-form-field>   
        <div>
          <button mat-icon-button (click)="openDialog(dialogTemplate)">
            <span class="material-symbols-outlined text-blue-500">
              add_circle
              </span>
          </button>
        </div>
      </div>
      <div class="flex flex-col space-y-2">
        <div class="flex flex-row space-x-2 justify-between" *ngFor="let item of Menus">
          <span [routerLink]="[item.Slug]" routerLinkActive="bg-gray-200" class="p-2 hover:bg-gray-200 rounded-lg">{{item.Title}} </span>
          <button mat-icon-button (click)="DialogRemove(dialogTemplate)">
            <span class="material-symbols-outlined text-red-500">
              remove_circle
              </span>
          </button>
        </div>
      </div>
    </div>
    <div class="w-full flex flex-col space-y-3">
          <router-outlet></router-outlet>
    </div>
  </div>
</div>
<ng-template #dialogTemplate>
  <div class="w-60">
  <div mat-dialog-title>Thêm Mới</div>
  <div mat-dialog-content>
      <div class="flex flex-col w-full space-y-4 p-4">
          <mat-form-field appearance="outline" class="w-full">
          <mat-label>Tiêu Đề</mat-label>
          <input matInput [(ngModel)]="Detail.Title" [ngModelOptions]="{standalone: true}" placeholder="Tiêu Đề" (input)="convertToSlug(Detail.Title)">
          </mat-form-field>
          <mat-form-field appearance="outline" class="w-full">
          <mat-label>Slug</mat-label>
          <input matInput [(ngModel)]="Detail.Slug" [ngModelOptions]="{standalone: true}" placeholder="Slug">
          </mat-form-field>
          </div>
  </div>
  <div mat-dialog-actions class="justify-center">
      <button mat-button class="bg-red-400 hover:bg-red-600 text-white" mat-dialog-close="false">Huỷ</button>
      <button mat-button class="bg-blue-400 hover:bg-blue-600 text-white" mat-dialog-close="true">Đồng Ý</button>
  </div>
</div>
</ng-template>